.DS_Store
*.wav
BufNMF/output
HPSS/hpss_outputs
HPSS/median_filter_outputs
BufNMF/mp3
NMFMatch/outputs
NMFMatch/mp3_128kbps
NMFFilter/output
seeding-NMF/outputs
melbands/outputs
BufStats/outputs
BufStats/50pct
mlp/50pct
outliers/outputs
outliers/sus_with_clicks/outputs
pitch/outputs
stft/outputs
weighting-stats/outputs
AmpGate/outputs
BufNMFCross/outputs
mds/outputs
transientSlice/outputs
transients/outputs
*.rpp-bak
*.reapeaks
*.RPP
*.RPP-UNDO
